<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于-C-blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{template "comm/link.html"}}
</head>
<body class="lay-blog">
	{{template "comm/header.html" .}}
		<div class="container-wrap">
			<div class="container container-message container-details container-about">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box">
								<h3>关于</h3>
								<p>博客名字：C-blog，这是在学习go语言的过程中自己写的一个轻博客</p>
								<p>C-blog开发基于beego框架，前端模板下载自www.layui.com</p>
								<p>博客现在有写、修改、删除文章功能，评论功能、留言功能和点赞功能</p>
								<p>目前博客并不完善, 功能还可能有调整</p>
								<p>我的项目的地址 https://github.com/yigejidan/C-blog</p>
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>100000+</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
								</div>
							</div>
						</div>			
					</div>
			</div>
		</div>
		{{ template "comm/footer.html" .}}
</body>
</html>